.body{
    -fx-background-image: url("/fotostrabajo/fondoinicio.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#lema{
    -fx-font-color: orange;
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}

#titulo{
    -fx-font-color: white;
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}

.fondo{
    -fx-background-image: url("/fotostrabajo/fondotodas.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}